@charset "utf-8";
// SCSS Document

// 変数 ----------------------------------------

$wPC: 48em; // PCブレイクポイント（768px）
$wrap: 1286px; // PCサイト幅

$base_font: YuGothic,yu gothic,hiragino sans,ヒラギノ角ゴシック,メイリオ,Meiryo,ＭＳ Ｐゴシック,ms pgothic,sans-serif;

$clr_txt: #444;

$clr_orange:#f6a831;

$clr_yellow:#fff598;
$clr_lightyellow:#fffce1;

$clr_gray:#f7f7f7;

$clr_blue:#314790;
$clr_lightblue:#eef1fb;

$clr_red:#e65b4d;


// プレフィックス付与 ----------------------------------------

$set-prefix: -webkit- , "";
@mixin SetPrefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$prefix}#{$name}: $value;
  }
}

// スニペット ----------------------------------------

@mixin pc { // PCブレイクポイント
  @media screen and (min-width: ($wPC)), print {
    @content;
  }
}

@mixin mb { // PCブレイクポイント
  @media screen and (max-width: ($wPC)), print {
    @content;
  }
}

@mixin wrap { // PC幅
  width: $wrap;
}

@mixin basefamily {
 font-family: $base_font;
}